/* fonts ////////////////////////////////////////////////////////////////////////////////// */

html {
    font-size: 25px;
    font-family: "Alumni Sans", sans-serif;
}

h1 {
    background: url("");
    font-size: 80px !important;
    font-family: UnifrakturMaguntia;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0080;
    text-align: center;
    display: block;
    color: pink;
}

/* change kuromionline.gif location  /////////////////////////////////////////////////////////////*/
img[src="./images/kuromionline.gif"] {
    display: block;
    margin: auto;
}

/* body and bg color //////////////////////////////////////////////////////////////////////////// */

html {
    background-color: #f998c5;
}

body {
    width: 1280px;
    margin: auto;
    background-color: #1c1c1c;
    padding: 0 20px 20px 20px;
    border: 5px solid grey;
}

/* navigation list //////////////////////////////////////////////////////////////////////////////// */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    width: 50%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #f998c5;
    font-family: UnifrakturMaguntia, sans-serif;
}

/*normal text*/

p {
margin: 0px;
}

body {
    font-size: 25px;
    line-height: ;
    margin-bottom: 1px;
    color: white;
}

/*paw cursor*/

html, root {
min-height: 100%;
}

:root {
cursor:url(/website/images/normsl.png), auto;

}

a {
cursor:url(/website/images/paw.cur), auto;
}


/* drop down menu */

.hidden {
    display: none;
}

.toggle {
    text-decoration: none;
    color: #337ab7;
}

.toggle:hover {
    color: #23527c;
}

.arrow {
    font-size: 12px;
    margin-right: 5px;
}

.arrow.up {
    content: '↑';
}



/* link color */

a {
    color: #f998c5;
}
